<template>
  <div class="container">
    <Header :score="$store.state.playerScore" />
    <Starter :playerName="$store.state.playerName" />
    <div class="row">
      <div class="col-md-8">
        <game-area :map="$store.state.gridMap" :grid="$store.state.grid" />
      </div>
      <div class="col-md-4">
        <Winners />
      </div>
    </div>
    <Modal :modal="$store.state.modal" />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Starter from "@/components/Starter.vue";
import GameArea from "@/components/GameArea.vue";
import Winners from "@/components/Winners.vue";
import Modal from "@/components/Modal.vue";
import css from "@/assets/scss/global.scss";

export default {
  name: "Home",
  components: {
    Header,
    Starter,
    GameArea,
    Winners,
    Modal
  }
};
</script>


<style scoped lang="scss">
.container {
  max-width: 900px !important;
}
</style>
