<template>
  <div class="game-area h-100">
    <ul class="list-unstyled flex-wrap align-items-stretch" :class="{'d-none': !$store.state.gameStatus, 'd-flex': $store.state.gameStatus}">
      <li
        v-for="(item, i) in map"
        :style="{width:100 / grid + '%'}"
        :key="i"
        class="d-inline-flex p-1"
      >
        <button
          class="btn btn-secondary btn-block btn-mine"
          :class="{'btn-danger':item.isClicked && item.isMine, 'btn-success':item.isClicked && !item.isMine}"
          @click="checkMine(item)"
        ></button>
      </li>
    </ul>
    <div
      :class="{'d-none': $store.state.gameStatus, 'd-flex': !$store.state.gameStatus}"
      class="justify-content-center align-items-center h-100"
    >
      <span class="display-5">Please enter a <code>player name</code> and click <span class="badge badge-warning text-white">start</span>!</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    map: Array,
    grid: Number
  },
  methods: {
    checkMine(item) {
      if(item.isClicked == false) {
        if(item.isMine) {
          this.$store.commit('endGame');
          this.$store.commit('changePlayer', this.$store.state.playerName);
        } else {
          this.$store.state.playerScore += 5;
        }
        item.isClicked = true;
      }
    }
  }
};
</script>

<style scoped lang="scss">
.btn-mine {
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
}
</style>