<template>
  <header class="row mt-5">
    <div class="col-md-8">
      <div class="logo text-left">
        MINE
        <span>SWEEPER</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group mb-3 input-border">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Score</span>
        </div>
        <input type="text" class="form-control text-right" :value="score" disabled />
      </div>
    </div>
  </header>
</template>

<script>
export default {
  props: ['score'],
};
</script>
