<template>
  <div
    class="modal fade"
    :class="{'d-block show': modal}"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content border-0 shadow">
        <div class="modal-header bg-primary text-white py-2">
          <h5 class="modal-title text-center w-100 font-weight-bold" id="exampleModalCenterTitle">
            GAME OVER
          </h5>
        </div>
        <div class="modal-body d-flex justify-content-between">
          <span>Your Score</span>
          <span class="font-weight-bold">{{ $store.state.playerScore }}</span>
        </div>
        <div class="modal-footer d-flex">
          <button type="button" class="btn btn-warning flex-fill" @click="tryAgain()">Try Again</button>
          <button type="button" class="btn btn-success flex-fill" @click="newGame()">New Game</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['modal', 'score',],
  methods: {
    tryAgain() {
      this.$store.commit('startGame', true);
      this.$store.state.gridMap = [];
      this.$store.getters.createMap;
      this.$store.state.modal = false;
    },
    newGame() {
      this.$store.commit('startGame', true);
      this.$store.state.playerName = '';
      this.$store.state.gridMap = [];
      this.$store.state.gameStatus = false;
      this.$store.state.modal = false;
    }
  }
}
</script>