<template>
  <div class="card input-border">
    <div class="card-header bg-primary text-white font-weight-bold text-left">
      Top 10 Score
    </div>
    <div class="card-body">
      <ul class="list-unstyled mb-0">
        <li v-if="!$store.state.players.length">
          No winner yet.
          <hr>
          Come on, start the game and be the first player on the list!
        </li>
        <li v-else v-for="(player, i) in $store.state.players" :key="i" class="d-flex justify-content-between py-1">
          <span class="text-muted">{{ i + 1 }}.Score: {{ player.score }}</span>
          <span class="font-weight-bold text-secondary">
            {{ player.name }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</template>
